@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ececec;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 3rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

section.populated {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: hidden;
}

.bubble-container.assistant {
  justify-content: flex-start;
}

.bubble-container.user {
  justify-content: flex-end;
}

.bubble.user {
  border-radius: 20px 20px 2px 20px;
  background-color: #1F2435;
  color: #fff;
  margin-left: auto;
}

.bubble.assistant {
  border-radius: 20px 20px 20px 2px;
  background-color: #f3f3f3;
}

.bubble h1,
.bubble h2,
.bubble h3 {
  margin: 0.5em 0;
  font-weight: bold;
}

.bubble ul {
  padding-left: 1.5em;
  list-style-type: disc;
}

.bubble li {
  margin-bottom: 0.5em;
}

.bubble strong {
  font-weight: bold;
}

.bubble a {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}

.chat-container {
  width: 100%;
  overflow-y: auto;
}

.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}


.loader {
  margin: 10px;
  width: 30px;
  aspect-ratio: 4;
  background:
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 0 50%,
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 50% 50%,
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 100% 50%;

    background-size: calc(100%/3) 100%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
  33% { background-size: calc(100%/3) 0, calc(100%/3) 100%, calc(100%/3) 100%; }
  50% { background-size: calc(100%/3) 100%, calc(100%/3) 0, calc(100%/3) 100%; }
  66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0; }
}